<h3>Welcome to PokePortal</h3>
<p><%= link_to 'Trainers:', trainers_path %> <%= Trainer.count %> registered</p>

<% if @pokemon and current_trainer %>
  <p> A wild <%= @pokemon.name %> has appeared!</p>
  <!-- REPLACE THIS LINE BELOW -->
  <p><%= @trainer %> These are your pokemons dude</p>
  <p>Name: <%= @pokemon.name %></p>
  <p>Level: <%= @pokemon.level %></p>
  <p>Health: <%= @pokemon.health %></p>
  
  <%= button_to "Create New Pokemon!", create_pokemon_path(id: @pokemon), :class => "button medium", :method => :patch %>
  <%= button_to "Throw a Pokeball!", capture_path(id: @pokemon), :class => "button medium", :method => :patch %>
  <%= button_to "Damage the Pokeball!", damage_path(id: @pokemon), :class => "button medium", :method => :patch %>
  <%= button_to "Heal Pokemon!", heal_path(id: @pokemon), :class => "button medium", :method => :patch %>
<% end %>
