<td><%= link_to trainer.name, trainer %></td>
<td><%= link_to trainer.email, trainer %></td>
<td><%= link_to pokemon.name, pokemon %></td>
<td><%= link_to pokemon.level, pokemon %></td>
<td><%= link_to pokemon.health, pokemon %></td>