<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<p>Pokemons: <%= @pokemon.name if @pokemon.name %></p>
<p>Level: <%= @pokemon.level if @pokemon.level %></p>
<p>Health: <%= @pokemon.health if @pokemon.health %></p>